@using EndPoint.Site.ViewModels.SiteViewModels.Page
@model SinglePageForSiteViewModel
@{
    ViewBag.Title = "خانه";
}

@{
    Random random = new Random();
}

<!-- Single Post -->
<div class="container-fluid no-left-padding no-right-padding single-post">
    <!-- Container -->
    <div class="container">
        <div class="row">
            <!-- Content Area -->
            <div class="col-md-8 col-sm-6 col-xs-6 content-area">

                <article class="type-post color-@random.Next(1,8)">
                    <div class="entry-cover">
                        <img src="\@Model.ImageName" style="width:100%" alt="Post" />
                        <div class="entry-header">
                            <div class="post-category"><a href="#" title="@Model.GroupName">@Model.GroupName</a></div>
                            <h3 class="entry-title">@Model.Title</h3>
                            <div class="entry-footer">
                                <span class="post-date"><a href="#">@Model.CreateDate</a></span>
                                <span class="post-like"><i class="fa fa-heart-o"></i><a href="/PageLike/@Model.PageId">@Model.Likes</a></span>
                                <span class="post-view"><i class="fa fa-eye"></i><a href="#">@Model.Visits</a></span>
                            </div>
                        </div>
                    </div>
                    <div class="entry-content">

                        @Html.Raw(Model.Text)

                    </div>


                    <br />
                    @if (Model.Tags != null)
                    {
                        <div class="key-words table-bordered shadow">
                            <label>کلمات کلیدی:</label>
                            @foreach (var tag in Model.Tags)
                            {
                                <a href="#" class="badge badge-primary">@tag</a>
                            }
                        </div>
                    }

                    <!-- About Author -->
                    @*<div class="about-author-box">
                            <h3>About Author</h3>
                            <div class="author">
                                <i><img src="~/SiteRefrences/images/author.jpg" alt="Author" /></i>
                                <h4>Tommy Walker</h4>
                                <ul>
                                    <li><a href="#" class="fb" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#" class="tw" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#" class="go" title="Google"><i class="fa fa-google"></i></a></li>
                                    <li><a href="#" class="ln" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                                <p>reporter is one of the excellent magazine in the world.Newshub magazine reach many readers are very soon by his unique stories in the magazine.</p>
                            </div>
                        </div>*@
                    <!-- About Author /- -->
                </article>



                <!-- Comment Area -->
                <div id="comments" class="comments-area">



                    @await Component.InvokeAsync("CommentsInPage", new { id = Model.PageId })



                    <!-- Comment Form -->
                    <div id="respond" class="comment-respond">
                        <h2 id="reply-title" class="comment-reply-title">ارسال نظر</h2>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <form method="post" id="commentform" class="comment-form" asp-controller="PageComments" asp-action="AddPageComment">
                                <p class="comment-form-comment">
                                    <textarea id="comment" placeholder="نظر شما" name="Comment" rows="5" required="required"></textarea>
                                </p>
                                <p>
                                    <h2 id="Cancell" hidden>
                                        <a onclick="CancellReply()" class="btn btn-warning"> انصراف از پاسخ </a>
                                    </h2>
                                </p>
                                <p class="form-submit">
                                    <input name="submit" id="comment" class="submit" value="ارسال" type="submit" />
                                </p>
                                <input hidden name="PageId" value="@Model.PageId" />
                                <textarea hidden name="Reply" id="Reply" ></textarea>
                            </form>
                        }
                        else
                        {
                            <div class="btn-block comment-form">
                                <p>
                                    برای ارسال نظر ابتدا وارد حساب خود شوید
                                </p>
                                <a href="/Signup" class="btn btn-warning">ثبت نام</a> |
                                <a href="/Login" class="btn btn-warning">ورود به حساب</a>
                            </div>
                        }

                    </div><!-- Comment Form /- -->
                </div><!-- Comment Area /- -->

            </div><!-- Content Area /- -->

            @await Component.InvokeAsync("SiteAside")

            @section Scripts{
                        <script src="~/js/comments.js"></script>
            }

        </div>
    </div><!-- Container /- -->
</div><!-- Single Post /- -->