@model IEnumerable<EndPoint.Site.ViewModels.AdminViewModels.Page.PagesListForSelectSliderViewModel>
@{
    ViewData["Title"] = "Add";
}

<p>
    <a asp-action="Index" class="btn btn-primary">بازگشت</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ImageName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShortDescribtion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GroupName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img class="thumbnail" style="width:100px;" src="/@item.ImageName" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShortDescribtion)
                </td>
                <th>
                    @Html.DisplayFor(modelItem => item.GroupName)
                </th>
                <td>
                    <a asp-action="AddConfirm" asp-route-id="@item.PageId">انتخاب</a>
                </td>
            </tr>
        }
    </tbody>
</table>

